* {
  transition: all 0.3s;
}

body {
  background: url("https://img.freepik.com/free-psd/3d-rendering-questions-background_23-2151455632.jpg?w=360");
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 120%;
}

h1 {
  font-family: "Comic sans MS";
  background: green;
  border-radius: 10px;
}

h1:hover {
  background: rgb(48, 77, 241);
  color: white;
  cursor: pointer;
}

h2 {
  color: red;
}

.contenedor {
  width: 100vw;
  height: 10vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.encabezado {
  position: relative;
  background: url("https://img.freepik.com/vector-premium/espectro-color-clasico-rgb-degradado-linea-vector_522680-173.jpg");
  min-width: 300px;
  width: 60%;
  max-width: 600px;
  padding: 10px;
}

.categoria {
  opacity: 0.3;
  text-align: left;
}

.pregunta {
  padding: 10px;
  color: rgb(12, 11, 11);
  font-weight: bold;
}

.imagen {
  object-fit: cover;
  height: 0px;
  width: 0px;
}

.btn {
  background: gray;
  color: black;
  width: 60%;
  max-width: 550px;
  padding: 10px;
  margin: 5px;
}

.btn:hover {
  background-image: url("donde.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 5vh;
  color: rgb(6, 233, 36);
  transform: scale(1.2);
  cursor: pointer;
}
    
.numero{
  position: absolute;
  opacity:0.3;
  top: 10px;
  right: 10px;
}
    
.puntaje{
  padding:10px;
  color: blue;
  font-weight: bold;
  font-size: 30px;
}

.contenedor-logo {
  width: 80%;
  max-width: 300px;
}

.logo-rebote {
  width: 50px;
  animation: rebote 1s ease-out;
}

@keyframes rebote {
  0%   { transform: translateY(-100px); }
  30%  { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  70%  { transform: translateY(0); }
  85%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
